@media (max-width : 480px){
.iconid{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    font-weight: bold;
}
.settingbutton{
    justify-content: right;
    cursor: pointer;
}
.categorybundle{
    display: flex;
    flex-direction: column;

}
.categorytitle{
    font-weight: bold;
    display: flex;
    padding: 5%;
    justify-content: start;
}
.bundle{
    display: flex;
    flex-wrap: wrap;
    max-height: 480px;
    
}
.bundleicon{
    width: 60px;
    height: 60px;
    border-radius: 10px;
 
}
.bundleiconname{
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
    cursor: pointer;
}
.eventbanner{
    background-color: lightgray;
    min-height: 200px;
    margin-top: 20px;
    cursor: pointer;
}
}