@media (max-width : 480px){
    .Main{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    .Searchbox{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    
    }
    .Searchin{
        border: none;
        border-bottom: 1px solid black;
        text-align: center;
        width: 60vw;
    }
    
    .Body2{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .ContentBox{
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .ContentPic{
        min-height: 300px;
        width: 95vw;
        border: 1px solid red;
        margin-top: 10px;
    }
    .ContentName1{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        width: 85vw;
        border-bottom: 1px solid black;
    }
    .Price1{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 95vw;
        padding: 5%;
      
    }
    .Discount{
        color: red;
        display: flex;
        font-size: 15px;
        
    }
    .DiscountPrice{
        text-decoration: line-through;
        color: #95989A;
        margin-left: 10px;
    }
    .FinalPrice1{
        color: red;
    }
    .TwoButton{
        display: flex;
        justify-content: space-around;
        width: 70vw;
        margin-bottom: 10px;
    }
    .Cartbutton{
        background-color: white;
        border: 1px solid #95989A;
        color: #95989A;
        width: 110px;
        height: 30px;
    }
    .Buybutton{
        background-color: #FF5D62;
        border: 1px solid #FF5D62;
        color: white;
        width: 110px;
        height: 30px;
    }
    .Buybutton22{
        background-color: #FF5D62;
        border: 1px solid #FF5D62;
        border-radius: 15px;
        color: white;
        min-width: 106px;
        height: 30px;
    }
    
    .Bottom{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        border: 1px solid #95989A;
        border-left: none;
        border-right: none;
        position: fixed;
        bottom: 53px;
        z-index: 1000;
        height: 40px;
        align-items: center;
    }
    .FinalPrice1{
        color: black;
        margin-left: 5px;
    }
.Review{
    background-color: white;
    border: none;
    border-right: 1px solid #95989A;
    height: 30px;
}
    .BottomPrice{
        display: flex;
        justify-content: space-evenly;
    }
    }
    